<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342482292379-a4ieij8bu3kg2kl2qj7c39tmr6s9b9nu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342482292379-a4ieij8bu3kg2kl2qj7c39tmr6s9b9nu</string>
	<key>API_KEY</key>
	<string>AIzaSyCeI7TqtcsW-yOZd6WEyJ4T0HBkAkqgieg</string>
	<key>GCM_SENDER_ID</key>
	<string>342482292379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.thingsboard.app</string>
	<key>PROJECT_ID</key>
	<string>test-notficication-api</string>
	<key>STORAGE_BUCKET</key>
	<string>test-notficication-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342482292379:ios:68cc0976e3ccd145d3003e</string>
</dict>
</plist>